h1 {
  text-align: center;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid rgb(224, 220, 220);
}

/* .simg {
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
